@media screen and (max-width:1205px){
    .project .work{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right:0px;
    }
    .project h2{
        align-items: center;
        margin: 0 auto;
        font-size: 2vw;
        text-align: center;
        margin-bottom: 10px;
    }
    
}
@media screen and(max-width:880px) {
    .project .work img{
        width:55vw;
    }
}
@media screen and (max-width:826px) {
    .education{
        padding: 131px 40px
    }
}

@media screen and (max-width:700px){
    .project h2{
        left:0px;
    }
    .project .work{
        justify-content:center;
        align-content:center;
    }
    .project{
        padding: 20px 10px;
    }
    .work-experince{
        padding: 10px 10px;
    }
    .education{
        padding:35px 10px;
    }
}
@media screen and (max-width:556px){
    header section .name{
        font-size: 14vw;
    }
}
/* font-size: 2vh; */